<footer class="" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 footer-copyright">
                © Copyright 2017 Awesome Movie by Xiya Lu
            </div>
            <div class="col-sm-5 footer-social">
                <div class="pull-right hidden-xs hidden-sm">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                    <a href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                    <a href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>